<!--
    Narsx server is meant to serve as a back office for Narsx: the
    connected coding solution.

    Copyright (C) 2015  Narsx-Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

  {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'narsx/css/styleform.css'%}" media="screen"/>
    <link rel="stylesheet" href="{% static 'narsx/css/codemirror.css'%}" media="screen"/>
    <script src="{% static 'narsx/js/jquery.js'%}"></script>
    <script src="{% static 'narsx/js/ajax_calls.js'%}"></script>

    <script src="{% static 'narsx/js/codemirror.js'%}"></script>
    <script src="{% static 'narsx/js/diff_match_patch.js'%}"></script>
    <script src="{% static 'narsx/js/peer.js'%}"></script>

    <script src="{% static 'narsx/js/editor.js'%}"></script>
    <script src="{% static 'narsx/js/connection.js'%}"></script>
    <script src="{% static 'narsx/js/narsx.js'%}"></script>

    <script src="{% static 'narsx/mode/javascript/javascript.js'%}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
            <img src="{% static 'narsx/img/doc1.png'%}"  height="80" width="80">
          <h1><span class="logo_colour"><a href="/">NARSX</a></span></a></h1>
          <h2>Extreme Programming done right</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">

            <li><a href="/">HOME</a></li>
          <li><a href="/contactus">Contact Us</a></li>
            <li><a href="/signout">SIGN OUT</a></li>
        </ul>
      </div>
    </div>




          {% if document.author == user %}
            <table>
                <tr>
                    <td> <label>Username</label></td>
                    <td><label>:</label></td>
                    <td><input type="text" name="invite" id="invite" /></td>
                    <td><input type="submit" id="invite_btn" value="INVITE"></td>
                    <td><input  type="HIDDEN" name="documentid" id="documentid" value="{{document.id}}"></td>
                </tr>
            </table>
            {% endif %}
         <section>
         <section>
         <section>
            <article>
                    <h2>{{ document.title}}</h2>

                    <form><textarea id="code" name="code" rows="50" cols="10"></textarea></form>
              </article>


          </section>
         </section>
              <section>



                 <br>
                 <br>


    <script src="{% static 'narsx/js/show.js'%}"></script>
</body>
</html>


<script>


window.onload = function() {

	window.editor = CodeMirror.fromTextArea(document.getElementById("code"), {

		mode: "javascript",

		styleActiveLine: true,

		lineNumbers: true,

		lineWrapping: true

	});

///
{% if document.author == user%}
            window.editor.initNarsxMasterSession();

     {% else %}
        window.editor.initNarsxClientSession("{{document.author.token}}");


 {% endif %}





};


</script>




